body
{
	background: linear-gradient(220deg, #faf8ef, #00A86B);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	overflow: hidden;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 90vw;
	max-width: 500px;
	max-height: 95vh;
	border-radius: 20px;
	background-color: #00A86B;
	padding: 2rem;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.board-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5vh;
	width: 70%;
}

.grid-container
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	width: 100%;
	aspect-ratio: 1 / 1;
	margin: auto;
	background: #bbada0;
	border-radius: 10px;
	padding: 8px;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.side-image {
	position: absolute;
	right: 10vw;          /* la separa del tablero sin desplazarlo */
	top: 50%;
	transform: translateY(-50%);
	width: 15vw;
	height: auto;
	opacity: 0.9;
	pointer-events: none; /* evita interferencias con clics */
}

@media (max-width: 1600px) {
	.side-image {
		display: none;
	}
}

.cell 
{
	background-color: papayawhip;
	color: #2d2d2d;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 10px;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(1rem, 4vw, 3rem);
	font-weight: bold;
}

.score-container {
	text-align: center;
	font-size: clamp(1rem, 2vw, 1.5rem);
	background: papayawhip;
	padding: 1rem;
	border-radius: 10px;
	width: 70%;
	box-sizing: border-box;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}


.buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 1vh;
	padding-top: 3vh;
}

.btns 
{
	border: none;
	border-radius: 8px;
	padding: 14px 28px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s ease;
}

#restart-btn {
  background-color: #4CAF50;
}

#back-btn {
  background-color: #f44336;
}

#restart-btn:hover {
  background-color: #45a049;
}

#back-btn:hover {
  background-color: #d32f2f;
}

#titulo
{
	font-size: clamp(3rem, 6vw, 5rem);
	margin: 0;
	text-align: center;
}

#scoreText
{
	font-weight: bold;
}

#nMoveText
{
	font-weight: bold;
}


/* ANIMACIONES */
@keyframes pop {
  0% { transform: scale(0.5); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes merge {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.cell.new {
  animation: pop 0.2s ease-out;
}

.cell.merged {
  animation: merge 0.2s ease-out;
}
